body{
    display: flex;
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
}
.container{ 
    border: 5px solid rgb(180, 177, 177);
    height:80vh;
    background-color: rgb(60, 195, 219);
    width:80vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    position:relative;
    padding:0;

}
.container_body{
    display:flex;
    width: 35vw;
    flex-wrap: wrap;
}
.subcontainer{
    height:60vh;
    background-color: rgb(255, 255, 255);
    width:80vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding:0;
}
.location{
    margin-left: 30px ;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#map{
height: 20px;
}
h1{margin-left: 20px ;
width: 30vw;}
.desc{margin-left: 20px ;}

#gear{
    height: 20px;
    }
.edit{
    margin-left: 30px ;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.profile_e{
    color: blue;
    text-decoration: underline;
}
.user{
    height: 15vh;
    position: absolute;
    left: 10px;
    top: 55px;
}
